Checks: >
  hicpp-*,
  modernize-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  performance-*,
  portability-*,
  readability-*,
  -*-special-member-functions,
  -*-braces-around-statements,
  -*-signed-bitwise,
  -*-avoid-magic-numbers,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -readability-redundant-access-specifiers,
  -readability-uppercase-literal-suffix,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-prefer-member-initializer,
  -readability-magic-numbers,
  -hicpp-uppercase-literal-suffix,
# CheckOptions:
#     - key:
#       value: