[submodule "third_party/vulkan"]
	path = third_party/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "third_party/sdl2"]
	path = third_party/sdl2
	url = https://github.com/libsdl-org/SDL.git
[submodule "third_party/vma-hpp"]
	path = third_party/vma-hpp
	url = https://github.com/YaaZ/VulkanMemoryAllocator-Hpp
